.column{
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}
.homeee{
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/merc2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed ;
    display: flex;
    align-items: center;
}

.card{
  /*  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   */ margin: 8px;
    
}

.container{
    padding: 0 16px;
    text-align: center;
}

.container:after, .row::after{
    
    clear: both;
    display: table;
}
.card img{
    border-radius: 20px;
}
.title{
    color: grey;
}
.button{
    border: none;
    padding: 10px 14px;
    background-color: #dd0000;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    color: #edecea;
}

@media screen and (max-width:650px) {
    .column{
        width:100%;
       display: block;
    }
}
