.homee{
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/allcars.jpg) ;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed ;
    display: flex;
    align-items: center;
}

